.App {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ccc;
}
.left {
  border-right: 2px solid #ccc;
  flex: 1;
}
.right {
  width: 400px;
}
.qustion {
  padding: 0 20px;
  text-align: left;
}